.list {
	display: grid;
	gap: 1em;
}

.list_item {
	list-style: none;
	color: #fff;
	width: 7em;
	text-align: center;
	white-space: nowrap;
	border-radius: 1em;
	padding: 0.5em 0.8em;
	font-weight: 700;
	opacity: 0.9;
	transition: 0.1s;
}
.list_item:hover {
	opacity: 1;
	width: 7.6em;
	margin-left: -0.3em;
}
